*.suo
*.bsc
*.exe
*.sdf
*.ilk
*.map
*.pdb
*.obj
*.sbr
*.log
*.tlog
Debug/*
Release/*
x64/Debug/*
x64/Release/*
*.exp
*.idb
*.iobj
*.ipdb
*.bak
*.user
egdb_test/egdb_test.VC.opendb
*.opendb
egdb_test/linux.txt
egdb_test/linux_buffering_on.txt
egdb_test/win.txt
egdb_test/win_ffnb_off.txt
/build/
*.project
*.gitignore
/.cproject
/.gitignore
